<div class="bg-img">
  <div class="head-font">
      <h1 class="cen-text" style='color:red'>Welome to TODO APP</h1>
  </div>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header cen-text">Hello User</div>
      <div class="card-body">
        <h5 class="card-title cen-text">Login Here</h5>      
        <form (submit)="onSubmit($event)">
          <div class="form-group">
            <label for="exampleInputEmail1">UserName</label>
            <input type="text" class="form-control" id="username"  placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="col-xs-3">
            <button type="submit" class="btn btn-primary ml-5">Submit</button>
            <button type="reset" class="btn btn-danger ml-2 ">Reset</button>
          </div>
        </form>
    </div>
  </div>
</div>