/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    font-family: 'Josefin Sans', sans-serif;
}
